## Summary

Distributions: 

-Anaconda 
-Pypi

### Data types

In [1]:
#integer:
x = 5

In [2]:
#string:
x = 'Abc'

In [3]:
#list:
x = [0,1,20.3,'Abc']

In [6]:
#dictionary:
x = {"k1":"value1","k2":"value2"}

In [7]:
#tuple:
x = (0,1,'abc')

In [8]:
#set:
x = {'a','b'}

In [9]:
#boolen:
1 == 1

True

In [13]:
# to check data type:
type(x)

set

#### Numbers:

In [10]:
# Modulo
7%4

3

In [11]:
# Powers
2**3

8

In [73]:
# You should look betweem [48] and [54]! 
# You should look betweem [64] and [66]! 
# You should look betweem [70] and [72]!

The names you use when creating these labels need to follow a few rules:

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
4. It's considered best practice (PEP8) that names are lowercase.
5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
   or 'I' (uppercase letter eye) as single character variable names.
6. Avoid using words that have special meaning in Python like "list" and "str"

#### Strings:

In [14]:
# Creating a String: We can use single or double quote!
'Hello'

'Hello'

In [16]:
# Printing a String:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line') # \n works like enter.  
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [17]:
# We can also use a function called len() to check the length of a string!
len('Hello World')

11

In [18]:
# Assign A as a string
A = 'Hello World'

In [19]:
A

'Hello World'

In [20]:
# Print the object
print(A)

Hello World

In [21]:
# Show first element (in this case a letter)
A[0]

'H'

In [22]:
# Show last element (in this case a letter)
A[-1]

'd'

We can use a : to perform slicing which grabs everything up to a designated point. For example:

In [23]:
A[1:]

'ello World'

In [24]:
A[1:5]

'ello'

In [26]:
A[:4]

'Hell'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [28]:
# Grab everything, but go in steps size of 1
A[::1]

'Hello World'

In [29]:
# Grab everything, but go in step sizes of 2
A[::2]

'HloWrd'

In [31]:
# We can use this to print a string backwards
A[::-1]

'dlroW olleH'

##### Basic Built-in String methods

In [32]:
A

'Hello World'

In [33]:
# Upper Case a string
A.upper()

'HELLO WORLD'

In [34]:
# Lower case
A.lower()

'hello world'

In [35]:
# Split a string by blank space (this is the default)
A.split()

['Hello', 'World']

In [74]:
text = 'Test,Control'

In [76]:
text.split(sep=',')

['Test', 'Control']

In [36]:
# Split by a specific element (doesn't include the element that was split on)
A.split('W')

['Hello ', 'orld']

##### Print Formatting
We can use the .format() method to add formatted objects to printed string statements.

In [37]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

In [40]:
'I want to drink {}'.format('wine')

'I want to drink wine'

##### String Formatting:
String formatting lets you inject items into a string rather than trying to chain items together using commas or string concatenation.

In [41]:
# concatenation:
player = 'Thomas'
points = 33

'Last night, '+player+' scored '+str(points)+' points.'

'Last night, Thomas scored 33 points.'

In [42]:
# string formatting:
f'Last night, {player} scored {points} points.'

'Last night, Thomas scored 33 points.'

##### Formatting with placeholders
You can use %s to inject strings into your print statements. The modulo % is referred to as a "string formatting operator".

In [43]:
print("I'm going to inject %s here." %'something')

I'm going to inject something here.

In [45]:
# You can also pass variable names:
x, y = 'some', 'more'
print("I'm going to inject %s text here, and %s text here."%(x,y))

I'm going to inject some text here, and more text here.

In [78]:
today = '2020-12-29'
print('Hello world today is: ',today)

Hello world today is:  2020-12-29

##### Format conversion methods:
It should be noted that two methods %s and %r convert any python object to a string using two separate methods: str() and repr(). We will learn more about these functions later on in the course, but you should note that %r and repr() deliver the string representation of the object, including quotation marks and any escape characters.

In [46]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r.' %'Fred')

He said his name was Fred.
He said his name was 'Fred'.

In [47]:
# As another example, \t inserts a tab into a string.
print('I once caught a fish %s.' %'this \tbig')
print('I once caught a fish %r.' %'this \tbig')

I once caught a fish this 	big.
I once caught a fish 'this \tbig'.

##### %s vs %d operators:
The %s operator converts whatever it sees into a string, including integers and floats. The %d operator converts numbers to integers first, without rounding. Note the difference below:

In [48]:
print('I wrote %s programs today.' %3.75)
print('I wrote %d programs today.' %3.75)

I wrote 3.75 programs today.
I wrote 3 programs today.

##### Padding and Precision of Floating Point Numbers
Floating point numbers use the format %5.2f. Here, 5 would be the minimum number of characters the string should contain; these may be padded with whitespace if the entire number does not have this many digits. Next to this, .2f stands for how many numbers to show past the decimal point. Let's see some examples:

In [50]:
print('Floating point numbers: %5.2f' %(13.144))

Floating point numbers: 13.14

In [51]:
print('Floating point numbers: %1.0f' %(13.144))

Floating point numbers: 13

In [53]:
print('Floating point numbers: %10.2f' %(13.144))

Floating point numbers:      13.14

##### Multiple Formatting
Nothing prohibits using more than one conversion tool in the same print statement:

In [54]:
print('First: %s, Second: %5.2f, Third: %r' %('hi!',3.1415,'bye!'))

First: hi!, Second:  3.14, Third: 'bye!'

#### Formatting with the .format() method

'String here {} then also {}'.format('something1','something2')

In [57]:
print('This is a string with an {}'.format('insert'))

This is a string with an insert

The .format() method has several advantages over the %s placeholder method:

In [58]:
# Inserted objects can be called by index position:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [59]:
# Inserted objects can be assigned keywords:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

First Object: 1, Second Object: Two, Third Object: 12.3

In [60]:
# Inserted objects can be reused, avoiding duplication:
print('A %s saved is a %s earned.' %('penny','penny'))
# vs.
print('A {p} saved is a {p} earned.'.format(p='penny'))

A penny saved is a penny earned.
A penny saved is a penny earned.

##### Alignment, padding and precision with .format()
Within the curly braces you can assign field lengths, left/right alignments, rounding parameters and more

In [64]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

Fruit    | Quantity
Apples   |       3.0
Oranges  |        10

By default, .format() aligns text to the left, numbers to the right. You can pass an optional <,^, or > to set a left, center or right alignment:

In [65]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center  |    Right
11       |    22    |       33

In [66]:
#You can precede the aligment operator with a padding character:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -Center- | ...Right
11====== | ---22--- | ......33

#### Formatted String Literals (f-strings)
Introduced in Python 3.6, f-strings offer several benefits over the older .format() string method described above. For one, you can bring outside variables immediately into to the string rather than pass them as arguments through .format(var).

In [68]:
name = 'Fred'

print(f"He said his name is {name}.")

He said his name is Fred.

In [69]:
# Pass !r to get the string representation:

print(f"He said his name is {name!r}")

He said his name is 'Fred'

#### Float formatting follows "result: {value:{width}.{precision}}"

In [70]:
num = 23.45678
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4568
My 10 character, four decimal number is:   23.4568

Note that with f-strings, precision refers to the total number of digits, not just those following the decimal. This fits more closely with scientific notation and statistical analysis. Unfortunately, f-strings do not pad to the right of the decimal, even if precision allows it:

In [71]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:     23.45

In [72]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:10.4f}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:   23.4500

##### Extra String Operations

In [79]:
text = 'Extra String Operations'

In [80]:
today = '2020-12-29'

In [82]:
text = text+' '+today

In [84]:
text

'Extra String Operations 2020-12-29'

In [86]:
text_list = text.split()

In [88]:
text_list

['Extra', 'String', 'Operations', '2020-12-29']

In [92]:
for i in text:
    print(i)

E
x
t
r
a

S
t
r
i
n
g

O
p
e
r
a
t
i
o
n
s

2
0
2
0
-
1
2
-
2
9

In [95]:
#checking string existance in another string
control_text = 'www'

In [94]:
control_text in text

False

In [96]:
#slicing string
text[1:5]

'xtra'

In [97]:
#replace a string
text.replace("2020-12-29", "2020-12-30")

'Extra String Operations 2020-12-30'

In [101]:
text_2 = """Extra String Operations 




Extra String Operations"""

In [102]:
text_2

'Extra String Operations \n\n\n\n\nExtra String Operations'

In [108]:
#remove newline
text_2.replace("\n","")

'Extra String Operations Extra String Operations'