#### Function Practice Exercises

1-LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2

lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
lesser_of_two_evens(2,4)

2

In [3]:
lesser_of_two_evens(2,5)

5

In [4]:
lesser_of_two_evens(0,5)

5

In [5]:
lesser_of_two_evens(2,0)

0

2-ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

animal_crackers('Levelheaded Llama') --> True

animal_crackers('Crazy Kangaroo') --> False

In [6]:
def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [7]:
animal_crackers('Levelheaded Llama')

True

In [8]:
animal_crackers('Crazy Kangaroo')

False

3-MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

makes_twenty(20,10) --> True

makes_twenty(12,8) --> True

makes_twenty(2,3) --> False

In [14]:
def makes_twenty(n1,n2):
    if ((n1+n2)==20) or (n1==20) or (n2==20):
        return True
    else:
        return False

In [15]:
makes_twenty(20,10)

True

In [16]:
makes_twenty(12,8)

True

In [17]:
makes_twenty(2,3)

False

4-OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [4]:
# first way with upper:
def old_macdonald(name):
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [5]:
old_macdonald('macdonald')

'MacDonald'

In [6]:
# second way with capitalize:
def old_macdonald(name):
    
    first_half= name[:3]
    second_half = name[3:]
        
    return first_half.capitalize() + second_half.capitalize()

In [7]:
old_macdonald('macdonald')

'MacDonald'

5-MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'

master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

 "--".join(['a','b','c'])
 
 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

 " ".join(['Hello','world'])
 
 "Hello world"

In [8]:
def master_yoda(text):
    wordlist = text.split()
    reverse_wordlist = wordlist[::-1]
    return reverse_wordlist

In [9]:
master_yoda('I am home')

['home', 'am', 'I']

In [10]:
master_yoda('We are ready')

['ready', 'are', 'We']

In [11]:
mylist = ['a','b','c']

In [12]:
'--'.join(mylist)

'a--b--c'

In [13]:
' '.join(mylist)

'a b c'

In [14]:
''.join(mylist)

'abc'

In [16]:
't'.join(mylist)

'atbtc'

In [17]:
def master_yoda(text):
    wordlist = text.split()
    reverse_wordlist = wordlist[::-1]
    return ' '.join(reverse_wordlist)

In [18]:
master_yoda('I am home')

'home am I'

6-ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

almost_there(90) --> True /
almost_there(104) --> True /
almost_there(150) --> False /
almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [20]:
def almost_there(n):
    
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [21]:
almost_there(90)

True

In [22]:
almost_there(104)

True

In [23]:
almost_there(150)

False

In [24]:
almost_there(209)

True

7-FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True / 
has_33([1, 3, 1, 3]) → False / 
has_33([3, 1, 3]) → False

In [25]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [26]:
has_33([1, 3, 3])

True

In [27]:
has_33([1, 3, 1, 3])

False

In [28]:
has_33([3, 1, 3])

False

In [29]:
has_33([3, 3, 1])

True

8- PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [31]:
def paper_doll(text):
    result = ''
    
    for char in text:
        result +=char*3
    return result

In [32]:
paper_doll('Hello')

'HHHeeellllllooo'

In [33]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

9- BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST'

blackjack(9,9,11) --> 19

In [49]:
def blackjack(a,b,c):
    
    x = sum([a,b,c])
    
    if x <= 21:
        return x
    elif (x > 21) and (11 in [a,b,c]):
        x = x - 10
        return x        
    elif x > 21:
        return 'BUST'

In [50]:
blackjack(5,6,7)

18

In [51]:
blackjack(9,9,9)

'BUST'

In [52]:
blackjack(9,9,11)

19

10-SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [53]:
def summer_69(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num !=6:
                total += num
                break 
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [54]:
summer_69([1, 3, 5])

9

In [55]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [56]:
summer_69([2, 1, 6, 9, 11])

14

11-SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

 spy_game([1,2,4,0,0,7,5]) --> True
 
 spy_game([1,0,2,4,0,5,7]) --> True
 
 spy_game([1,7,2,0,4,5,0]) --> False

In [78]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [79]:
spy_game([1,2,4,0,0,7,5])

True

In [80]:
spy_game([1,0,2,4,0,5,7])

True

In [81]:
spy_game([1,7,2,0,4,5,0])

False

12-COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [82]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [83]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [84]:
# second way:
def count_primes2(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [85]:
count_primes2(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

13-PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter

print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *
     
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.

For purposes of this exercise, it's ok if your dictionary stops at "E".

In [86]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [87]:
print_big('a')

  *
 * *
*****
*   *
*   *